@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

body {
    background-color:aliceblue;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

.header {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	font-size: 460;
}

.stream-title {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

.stream-desc {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

.stream {
	align-content: center;
}

.footer {
	text-align: center;
	font-family: 'Bebas Neue', cursive;
}
